*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

.titulo{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
     font-size: 45px;
    color: white;

}
main{
    height: 70vh;
    background-color: aqua;

}
footer{
    background-color: yellow;
    height: 15vh;
}
.logo1{
    /* width: 40px;
    position: absolute;
   margin-left: 43rem; */
width: 50px;
object-fit: cover;
height: 50px;
top: 2px;
}
.img-header{
    object-fit: cover;
}
.header{
/* background-image: url(./img/black-texture-wallpaper.jpg); */
background-color: black;
}
.logo-h1{
    display: flex;
    height: 23.6vh;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}


.article-1{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 35vh;

color: white;
background-repeat: no-repeat;
width: 100%;
object-fit: cover;
}
.p-alimentos{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
    color: white;
    position: absolute;
    /* max-width: 75ch; */
    left: 45rem;
    

}
.img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 53.2vh;
    color: white;
    background-repeat: no-repeat;
    width: 100%;
/* object-fit: cover; */
}
.img-sushi1{
    margin-top: 22rem;
    width: 100%;
    height: 72.5vh;

}
.p-botton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 226px;
    padding: 6px;
    border: 1px solid red;
    border-radius: 7px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin-left: 3rem;

}
.enlace1{
    text-decoration: none;
    margin: 10px;
}
.titulo-h2{
    display: flex;
    justify-content: center;
    font-size: 39px;


}
.p-segundo{
    display: flex;
    justify-content: center;
}
.pedido{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    position: absolute;
    align-content: center;
    align-items: center;
    flex-direction: column;
    left: 48rem;
}
.nav{
    display: flex;
    justify-content:space-around;

    color: white;
    /* position: absolute; */
    font-size: 23px;
   
    text-decoration: none;
    padding: 20px 40px;

    
}
.nav1{
    text-decoration: none;
    color: white;

    padding: 5px;
  
}
.nav2{
    text-decoration: none;
    color: white;
 
    padding: 5px;
}
.nav3{
    text-decoration: none;
    color: white;

    padding: 5px;
}
.nav4{
    text-decoration: none;
    color: white;
   
    padding: 5px;
}

.section-1{
   
    margin-top: 20rem;
}
.title-h5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.p-h3-section{
    margin: 10px;
    justify-content: center;
    font-size: 21px;
    width: 31rem;
    /* border: 2px solid #002380; */
    padding: 55px;
    /* background-color: #0000ff69; */
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-1{
   
    background-image: url(/img/black-texture-wallpaper.jpg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: white;


}
.img-nosotros{
    /* position: absolute;
    width: 50px; */

}
.img-n{

    width: 444px;
    justify-content: center;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4.3rem;
    margin-right: 4rem;
    border-radius: 36px;

}
.container-pyim{
    display: flex;
      border: 2px solid #002380;
      /* padding: 55px; */
      background-color: #0000ff69;



      /* margin: 10px 10px; */
      justify-content: center;
      font-size: 21px;
      width: 61rem;
}
.h3-tittle{
    font-family: Arial, Helvetica, sans-serif;

}



















/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/
@media (min-width: 320px) {


    .p-botton{
        margin-left: -45.5rem;
         position: absolute;
         
    }
    .title-h5{
        font-size: 14px;
    }
    .container-pyim{
        width: 16%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .p-h3-section{
        /* margin: 10px; */
        justify-content: center;
        font-size: 21px;
        width: 14rem;
        /* border: 2px solid #002380; */
        /* padding: 55px; */
        /* background-color: #0000ff69; */
        font-family: Arial, Helvetica, sans-serif;
        /* margin-left: 30rem; */
        font-size: 10px;
    }
    .img-n{
        width: 195px;
        justify-content: center;
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;
        /* margin-top: 4.3rem;
        margin-right: 49rem; */
        border-radius: 36px;
    }
    .img-nosotros{
        display: flex;
        margin: 0px;
        padding: 0px;
        width: 28rem;
    }
    .title-h5{
        font-size: 14px;
        width: 1rem;
    }

    
    }

@media (min-width: 600px) {

    #sobrenosotros{
        
        font-size: 26px;
    width: 15rem;
    }
    .container-pyim{
        width: 2rem;



    }
.title-h5{
    font-size: 16px;
    
}

.p-botton{
    margin-left: -45.5rem;
     position: absolute;
     
}


}


/* @media (max-width: 300px) {

    .tittle-h5{
        font-size: 14px;
    }


} */








/* @media (max-width: 600px) {


.p-botton{
    margin-left: -45.5rem;
     position: absolute;
     
}


} */









