*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

.titulo{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
     /* font-size: 45px; */
    color: white;
    font-size: 5rem;
    font-family: cursive;

}
main{
    display:flex;
    justify-content:center;
    height: 150vh;
    background-color: grey;

}
.foto-suchi{
    width:417px;
    height:28vh;
    border-radius:20px;
    position:absolute;
}
.foto-suchi:hover{
   /* filter:blur(5px); */
   /* filter: opacity(.5); */
   -webkit-transform:scale(1.3);
   transform:scale(1.3);
   transition: 0.4s;
   border-radius:20px;
}
.foto-suchi2{
    width:417px;
    height:28vh;
    border-radius:20px;
    position:absolute;
  
 
}
.foto-suchi2:hover{
    /* filter:blur(5px); */
    /* filter: opacity(.5); */
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    transition: 0.4s;
    border-radius:20px;
 }
.foto-suchi3{
    width:417px;
    height:28vh;
    border-radius:20px;
    position:absolute;
 
    

}
.foto-suchi3:hover{
    /* filter:blur(5px); */
    /* filter: opacity(.5); */
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    transition: 0.4s;
    border-radius:20px;
 }
.promo1 {
    display:flex;
    justify-content:center;
    font-size:30px;
    color:azure;
    font-weight:bolder;
    font-family: Arial;
    /* padding:2px 0px 28px 0px; */
}
 
.precio-promo1{
    display:flex;
    justify-content:center;
        padding:2px 255px 28px 0px;
        font-size:13px;
        color:azure;
        font-weight:bolder;
        font-family: Arial;
}
.precio-promo1:hover{
    position: absolute;
    z-index: 29999;
}

.precio-promo2{
    display:flex;
    justify-content:center;
        padding:2px 0px 28px 0px;
        font-size:13px;
        color:azure;
        font-weight:bolder;
        font-family: Arial;
}
.precio-promo3{
    display:flex;
    justify-content:center;
        padding:2px 0px 28px 0px;
        font-size:13px;
        color:azure;
        font-weight:bolder;
        font-family: Arial;
}
footer{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    text-align:center;
    align-items:center;
   
    height: 20vh;
    width:100%;
    background-color:blue;
    margin-top:2.5rem;
    color:azure;
    background-color: black;

}
.footer-container{
    display:flex;
    justify-content:center;
    text-align:center;
    width:100%;
}
.logo1{
    /* width: 40px;
    position: absolute;
   margin-left: 43rem; */
width: 50px;
object-fit: cover;
height: 50px;
top: 2px;
}
.img-header{
    object-fit: cover;
}
.header{
/* background-image: url(./img/black-texture-wallpaper.jpg); */
background-color: black;
}
.logo-h1{
    display: flex;
    height: 27.6vh;
    align-items: center;
    justify-content: center;
    /* flex-direction: row-reverse; */
}


.article-1{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 35vh;

color: white;
background-repeat: no-repeat;
width: 100%;
object-fit: cover;
}
.p-alimentos{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 19px;
    color: white;
    position: absolute;
    /* max-width: 75ch; */
    left: 45rem;
    font-family: system-ui;
    font-weight: 500;

}
.img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 53.2vh;
    color: white;
    background-repeat: no-repeat;
    width: 100%;
/* object-fit: cover; */
}
.img-sushi1{
    margin-top: 22rem;
    width: 100%;
    height: 80.5vh;

}
.p-botton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    padding: 6px;
    border: 1px solid red;
    border-radius: 7px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin-left: 3rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;

}
.p-botton:hover{
    background-color: orangered;
    color: rgb(3, 176, 250);
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    width: 15.5rem;
}
.enlace1{
    text-decoration: none;
    margin: 10px;
}
.titulo-h2{
    display: flex;
    justify-content: center;
    font-size: 39px;
    font-family: cursive;


}
.p-segundo{
    display: flex;
    justify-content: center;
}
.pedido{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    position: absolute;
    align-content: center;
    align-items: center;
    flex-direction: column;
    left: 48rem;
}
.nav{
    display: flex;
    justify-content:space-around;

    color: white;
    /* position: absolute; */
    font-size: 23px;
   
    text-decoration: none;
    padding: 20px 40px;

    
}
.nav1{
    text-decoration: none;
    color: white;

    padding: 5px;
  
}
.nav2{
    text-decoration: none;
    color: white;
 
    padding: 5px;
}
.nav3{
    text-decoration: none;
    color: white;

    padding: 5px;
}
.nav4{
    text-decoration: none;
    color: white;
   
    padding: 5px;
}
.nav1:hover{
    color: gold;
    
}
.nav2:hover{
    color: gold;
}
.nav3:hover{
    color: gold;
}
.nav4:hover{
    color: gold;
}


.title-h5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: cursive;
}
.p-h3-section{
    margin: 10px;
    justify-content: center;
    font-size: 21px;
    width: 31rem;
    /* border: 2px solid #002380; */
    padding: 55px;
    /* background-color: #0000ff69; */
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-1{
   
    background-image: url(/img/black-texture-wallpaper.jpg);
    height: 124vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: white;
        margin-top: 20rem;
}
.img-nosotros{
    /* position: absolute;
    width: 50px; */

}
.img-n{

    width: 444px;
    justify-content: center;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4.3rem;
    margin-right: 4rem;
    border-radius: 36px;
   

}
.container-pyim {
    display: flex;
      border: 2px solid #002380;
      /* padding: 55px; */
      background-color: #0000ff69;
    width: 61rem;
      /* margin: 10px 10px; */
      justify-content: center;
      /* width: 61rem; */
    
}
.h3-tittle{
    font-family: Arial, Helvetica, sans-serif;

}
main{
    display:flex;
    justify-content:center;
    align-items:center;

    
}
.sus-10{
    /* background-repeat: no-repeat; */
    width:100%;
    position:absolute;
    /* margin-top:31rem; */
    height: 150vh;

 
}

.titulo-carta{
    display:flex;
    justify-content:center;
    color:white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size:60px;
    position: absolute;
    z-index: 2;
}

.carousel-inner{
    overflow:hidden;
    border-radius:20px ;
}

.section-h5-comments{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: 35rem;
    padding: 0px 0px 9px;
    font-weight: 400;
    font-size: 17px;
    color: grey;
    margin-top: 2px;

}

.carousel-inner{
    display:flex;
    gap:60px;

}
.carousel-item active{
    margin-right: 16rem;

}


/*  sdsd */
.comments-container {
    width: 800px;
    margin: 35px auto;
  
  }
  .comments-container > .comment {
    margin-bottom: 10px;
  }
  .comment {
    display: flex;
    width: 100%;
    color: white;
  }
  
  .comment .line {
    position: relative;
    width: 10px;
    height: 50%;
    border-left: solid 1px #558bff;
    border-bottom: solid 1px #558bff;
    border-radius: 0 0 0 8px;
  }
  .comment .comment-wrapper .comment-content {
    width: 100%;
  }
  .comment .comment-wrapper .replies {
    padding-top: 10px;
    position: relative;
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .comment .comment-wrapper .replies::before {
    content: "";
    position: absolute;
    background-color: #558bff;
    width: 1px;
    top: 0;
    height: calc(100% - 53px);
  }
  .comment .comment-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .comment .comment-wrapper .content {
    display: flex;
    border: solid 1px #558bff;
    padding: 10px;
    border-radius: 3px;
    background-color: rgb(24, 43, 80);
  }
  
  .comment .comment-wrapper .content img {
    border-radius: 50%;
    width: 50px;
    padding-right: 10px;
  }
  
  .comment .comment-wrapper .content .comment-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .comment .comment-wrapper .content .comment-info .header .username {
    font-weight: bold;
  }
  .comment .comment-wrapper .content .comment-info .header .date {
    color: #999;
  }
  
  .comment .comment-wrapper .content .comment-info .actions {
    display: flex;
    gap: 5px;
  }
  
  .comment .comment-wrapper .content .comment-info .actions button {
    border: none;
    background-color: transparent;
    color: #558bff;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
  }
  .comment .comment-wrapper .content .comment-info .actions button:hover {
    color: white;
    background-color: #558bff;
  }

.section-comentarios{
    /* margin-top: 40rem; */
    background-color: azure;
    padding: 80px 0px 0px 0px;
}
.input-comentss{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 71rem;
}

.sh5{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.hr1{
    width:43%;
    margin-left: 34.95rem;
    margin-top: -31.9px;
    color: rgb(170, 168, 168);
}
select{
    border: 0px;
    margin-left: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.user2{
    width: 43px;
    margin-left: 31rem;
    margin-bottom: 15px;
    box-sizing: border-box;
}
select .option-order{
    font-weight: bolder;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.menu-container{
    /* width: 100%;
    margin-bottom: 80.6rem; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.menu-title{
    margin-bottom: 18rem;
    margin-left: 32rem;
     
}
/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/

/*=========================================================*/
/* @media (min-width: 320px) {


    .p-botton{
        margin-left: -45.5rem;
         position: absolute;
         
    }
    .title-h5{
        font-size: 14px;
    } */
    /* .container-pyim{
        width: 16%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    } */
    /* .p-h3-section{
    
        justify-content: center;
        font-size: 21px;
        width: 14rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
    }
    .img-n{
        width: 195px;
        justify-content: center;
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 4.3rem;
        margin-right: 49rem;
        border-radius: 36px;
    } */
    /* .img-nosotros{
        display: flex;
        margin: 0px;
        padding: 0px;
        width: 28rem;
    }
    .title-h5{
        font-size: 14px;
        width: 1rem;
    }

    
    }

@media (min-width: 600px) {

    #sobrenosotros{
        
        font-size: 26px;
    width: 15rem;
    }
    .container-pyim{
        width: 2rem;



    }
.title-h5{
    font-size: 16px;
    
}

.p-botton{
    margin-left: -45.5rem;
     position: absolute;
     
}


} */











/* @media (max-width: 600px) {


.p-botton{
    margin-left: -45.5rem;
     position: absolute;
     
}


} */


 @media (max-width: 320px) {


    .p-botton{
        margin-left: -45.5rem;
         position: absolute;
         
    }
    .title-h5{
        font-size: 14px;
    } 
     .container-pyim{
        width: 16%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    } 
     .p-h3-section{
    
        justify-content: center;
        font-size: 21px;
        width: 14rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
    }
    .img-n{
        width: 195px;
        justify-content: center;
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;
        /* margin-top: 4.3rem;
        margin-right: 49rem; */
        border-radius: 36px;
    } 
     .img-nosotros{
        display: flex;
        margin: 0px;
        padding: 0px;
        width: 14rem;
    }
    .title-h5{
        font-size: 14px;
        width: 1rem;
    }

    
    }




