*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}
.titulo{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 15vh;
    font-size: 25px;
    color: white;

}
main{
    height: 70vh;
    background-color: aqua;

}
footer{
    background-color: yellow;
    height: 15vh;
}
.logo1{
    /* width: 40px;
    position: absolute;
   margin-left: 43rem; */
width: 50px;
object-fit: cover;
height: 50px;
top: 2px;

}
.img-header{
    object-fit: cover;
}
.header{
background-image: url(./img/black-texture-wallpaper.jpg);

}

/* #contenedor2{
    display: flex;
} */
/* .header{
    display: flex;
    justify-content: center;
   flex-direction: column;
} */
.logo-h1{
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;

}